@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
  --rgbBackground: 242 242 242;
  --rgbBackgroundLight: 255 255 255;
  --rgbPrimary: 0 0 0;
  --rgbAccent: 0 229 255;
  --rgbText: 0 0 0;
  --rgbError: 255 0 60;
  --colorTextTitle: rgb(var(--rgbText) / 1);
  --colorTextBody: rgb(var(--rgbText) / 0.8);
  --colorTextLight: rgb(var(--rgbText) / 0.6);

  --colorPrimary: rgba(0, 153, 255, 1);
}

body {
  background-color: rgb(var(--rgbBackground));
  color: var(--colorTextBody);
  width: 100vw;
  height: 100vh;
}